/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre-Regular.woff2') format('woff2'),
    url('/fonts/Calibre-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre-Bold.woff2') format('woff2'),
    url('/fonts/Calibre-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre-Black.woff2') format('woff2'),
    url('/fonts/Calibre-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre-Light.woff2') format('woff2'),
    url('/fonts/Calibre-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


body, html {
  font-family: 'Calibre', Arial, Helvetica, sans-serif;
}

.highlight {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.section-label {
  font-size: 0.7rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #9ca3af;
  font-weight: 400;
  margin-bottom: 0.75rem;
}